.backMenu{
   height:1.8em;
   width:100%;
}
.backMenuLink{
  font-size:1.4em;
  font-weight:bolder;
}

@media (max-width: 575px) {
  .backMenu{
    display:block;
  }
}

@media (min-width: 576px) {
  .backMenu{
    display:none;
  }
}

